body { 
    margin: 0;  
}
.menu-container {
    border-top: 0.1em dashed darksalmon;
    text-decoration: none;
    text-align: center;
    background: wheat;
    position: fixed;
    width: 100%;
    margin: 0;
    height: 7em;
    z-index: 10;
}
.menu {
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 0 2em;
    text-transform: uppercase;
    margin-top: 1.5em;
}
.link-menus {
    text-decoration: none;
    color: black;
    font-family: arial;
    font-weight: bold;
}

.container-backgroundImages {
    display: inline-block;
    position: fixed;
    margin-top: 6em;
}
.backgroundImages {
    width: 451px;
    height: 600px;
    margin-left: -4px;
}

.title {
    color: wheat;
    width: 100%;
    position: absolute;
    z-index: 9;
    margin-top: 265px;
    font-size: 46px;
    text-align: center;
}

.area-recipes {
    border-top: 3px dashed darksalmon;
    height: 580px;
    width: 100%;
    position: absolute;
    z-index: 9;
}
.salgados {
    margin-top: 637px;
    background: white;
}
.dessert {
    margin-top: 1213px;
    background: gainsboro;
}
.blog{
    background-image: url(https://img.elo7.com.br/product/original/1100CD2/papel-de-parede-floral-delicado-com-fund-papel-de-parede-para-quarto-de-bebe.jpg);
    background-color: black;
    background-attachment: fixed;
    margin-top: 1796px;
    width: 100%;
    height: 600px;
    position: absolute
}
.minhaImagem {
    box-shadow: 0 0 2em #000, inset 0 0 .5em #FFF;
    width: 300px;
    height: 350px;
    margin-left: 840px;
    position: relative;
}
.descreption-about-me {
    position: absolute;
    top: 203px;
    text-align: center;
    margin-left: 60px;
    font-size: 26px;
}
.descreption-about-me:first-letter {
    font-size: 3em;
}
.descreption-photo {
    font-weight: bold;
    font-size: 28px;
    margin-left: -526px;
    top: 110px;
    position: relative;
    text-align: center;
}

.titulo-form {
    position: relative;
}
.form {
    margin-top: 20px;
}
.container-images-recipes    {
    position: relative;
    display: inline-block;
    margin-top: 102px;
}
.images-recipes {
    width: 198px;
    height: 198px;
    margin-left: 60px;
    border-radius: 50%;
}
h5 {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-left: 135px;
}
.list-link {
    text-align: inherit;
    text-decoration: none;
    color: darkslateblue;
}

.footer {
    position: absolute;
    background-color: darksalmon;
    height: 100px;
    width: 100%;
    margin-top: 2396px;
}

.text-footer { 
    color: white;
    position: relative;
    margin-left: 90px;
    margin-top: 44px;
    font-size: 20px;
}
 
.images-social-network {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border: 3px solid #dbdbdb;
    cursor: pointer;
    margin-top: -56px;
}

.link-twitter { 
    background-image: url(https://image.freepik.com/icones-gratis/sociais-twitter-passaro-simbolo_318-27588.jpg);
    margin-left: 800px;
}
.link-twitter:hover {
    background-image: url(http://www.maisons-elan.com/images/reseaux-sociaux/twitter-noir.png);
    margin-left: 800px;
}

.link-facebook {
    background-image: url(https://image.freepik.com/free-icon/facebook-letter-logo_318-40258.jpg);
    margin-left: 904px;
}
.link-facebook:hover {
    background-image: url(https://image.freepik.com/icones-gratis/logotipo-facebook-com-cantos-arredondados_318-9850.jpg);
    margin-left: 904px;
}

.link-gmail {
    background-image: url(http://img.freepik.com/free-icon/google-plus-logo_318-76532.jpg?size=338c&ext=jpg);
    margin-left: 1000px;
}
.link-gmail:hover {
    background-image: url(https://image.freepik.com/icones-gratis/google-plus-logotipo_318-40866.png);
    margin-left: 1000px;
}

.link-pinterest {
    background-image: url(https://image.freepik.com/free-icon/pinterest-letter-logo-variant_318-53062.jpg);
    margin-left: 1100px; 
}
.link-pinterest:hover {
    background-image: url(http://img.freepik.com/icones-gratis/pinterest-logotipo-sociais_318-65326.jpg?size=338&ext=jpg);
    margin-left: 1100px;
}

