body {
    background-color: #f5f0DC;
    font-family: arial black;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    color: black;
    text-decoration: none;
}

h2 {
    background-color: lightskyblue;
    background: -webkit-linear-gradient(top, orangered, orange 50%);
    border-radius: 15px;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: #FFFFFF;
    font-family: Arial;
    width: 50%;
}

.foto-pudim {
    width: 290px;
    height: 200px;
}

figure {
    background-color: white;
    margin-left: 10%;
    padding: 15px;
    width: 350px;
    height: 220px;
    text-align: center;
    font-family: cursive;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
    transform: rotate(-4deg); 
    -webkit-transform: rotate(-4deg); 
}

.youtube {
    width: 10%;
    height: 10%;
}

.instagram {
    width: 10%;
    height: 10%;
}

.facebook {
    width: 10%;
    height: 10%;
}

footer {
    background-color: #000;
    color: #F2FFFC;
    clear: both;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
}