body {
    background-color: #f5f0DC;
    font-family: arial black;
    width: 940px;
    margin-left: 60px;
}

.adicionando-receita {
    font-size: 15px;
    font-family: Arial Black;
  
}

.adicionando {
    color: black;
    font-family: Courier New, Courier, monospace;
    background: pink;
    padding: 23px 27px 20px;
    margin-left: 700px;
    text-align: center;
}

.menu {
    cursor: pointer;
    margin-left: 750px;
}

h1 {
    color: black;
    margin-top: -127px;
}

h2 {
    border-radius: 15px;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: #FFFFFF;
    font-family: Arial;
    width: 50%;
}

.receita-bem-casado {
    background: -webkit-linear-gradient(top, bisque, burlywood 50%);
}
.receita-de-pudim {
    background: -webkit-linear-gradient(top, orangered, orange 50%);
}
.receita-de-torta {
        background: -webkit-linear-gradient(top, #6B4226, #8E6B23 50%);
}

.foto-receita {
    width: 290px;
    height: 200px;
}

figure {
    background-color: white;
    margin-left: 10%;
    padding: 15px;
    width: 350px;
    height: 220px;
    text-align: center;
    font-family: cursive;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
    transform: rotate(-4deg); 
    -webkit-transform: rotate(-4deg); 
}
